In [1]:
import pandas as pd 
import numpy as np

In [2]:
df_movie_by_country = pd.read_csv('real-last-dataframe.csv')
df_movie_by_country

,Unnamed: 0,Unnamed: 0_x,movie_name,num,Country,Unnamed: 0_y,No. of Movies,Average Production Budget,Total Worldwide Box Office
0,0,333,10,movie_country1,US,0.0,19857.0,"$36,530,842","$582,316,176,592"
1,1,656,12 Years a Slave,movie_country2,UK,1.0,3430.0,"$30,359,821","$51,441,171,506"
2,2,85,12 Years a Slave,movie_country1,US,0.0,19857.0,"$36,530,842","$582,316,176,592"
3,3,2359,2046,"movie_country5,movie_country6",Germany,5.0,1373.0,"$31,311,126","$10,251,405,318"
4,4,1217,2046,movie_country3,France,3.0,2919.0,"$23,019,802","$20,236,918,720"
...,...,...,...,...,...,...,...,...,...
1132,1132,17,Zero Dark Thirty,movie_country1,US,0.0,19857.0,"$36,530,842","$582,316,176,592"
1133,1133,588,Zero Dark Thirty,movie_country2,UAE,30.0,35.0,"$32,187,500","$539,140,197"
1134,1134,69,Zodiac,movie_country1,US,0.0,19857.0,"$36,530,842","$582,316,176,592"
1135,1135,727,Éloge de l'amour,movie_country2,Switzerland,24.0,197.0,"$23,051,000","$684,542,925"
1136,1136,156,Éloge de l'amour,movie_country1,France,3.0,2919.0,"$23,019,802","$20,236,918,720"

In [3]:
df1 = df_movie_by_country.groupby('Country')['Total Worldwide Box Office'].value_counts().reset_index(name='No. of Movies')
df1["string"] = df1["Total Worldwide Box Office"] + ": " + df1["No. of Movies"].map(str)+ np.where(df1["No. of Movies"]>1, ' movies', ' movie')
df1

,Country,Total Worldwide Box Office,No. of Movies,string
0,Algeria,"$45,100,973",1,"$45,100,973: 1 movie"
1,Argentina,"$589,455,583",7,"$589,455,583: 7 movies"
2,Australia,"$7,464,652,477",13,"$7,464,652,477: 13 movies"
3,Austria,"$306,118,424",12,"$306,118,424: 12 movies"
4,Bahamas,"$56,207,252",1,"$56,207,252: 1 movie"
5,Belgium,"$2,169,363,263",23,"$2,169,363,263: 23 movies"
6,Bosnia and Herzegovina,"$12,715,693",1,"$12,715,693: 1 movie"
7,Brazil,"$1,108,247,953",6,"$1,108,247,953: 6 movies"
8,Bulgaria,"$42,687,625",1,"$42,687,625: 1 movie"
9,Canada,"$7,809,888,226",26,"$7,809,888,226: 26 movies"
10,Chile,"$180,800,115",4,"$180,800,115: 4 movies"
11,China,"$32,080,838,648",14,"$32,080,838,648: 14 movies"
12,Colombia,"$25,987,522",1,"$25,987,522: 1 movie"
13,Czech Republic,"$644,073,180",3,"$644,073,180: 3 movies"
14,Denmark,"$754,475,488",17,"$754,475,488: 17 movies"
15,Egypt,"$7,078,387",3,"$7,078,387: 3 movies"
16,Finland,"$635,301,877",8,"$635,301,877: 8 movies"
17,France,"$20,236,918,720",178,"$20,236,918,720: 178 movies"
18,Germany,"$10,251,405,318",86,"$10,251,405,318: 86 movies"
19,Greece,"$72,551,065",6,"$72,551,065: 6 movies"
20,Hong Kong,"$6,537,489,124",11,"$6,537,489,124: 11 movies"
21,Hungary,"$517,348,110",4,"$517,348,110: 4 movies"
22,Iceland,"$93,195,287",1,"$93,195,287: 1 movie"
23,India,"$7,352,222,484",15,"$7,352,222,484: 15 movies"
24,Indonesia,"$16,583,771",1,"$16,583,771: 1 movie"
25,Ireland,"$1,238,514,021",9,"$1,238,514,021: 9 movies"
26,Israel,"$124,852,920",14,"$124,852,920: 14 movies"
27,Italy,"$4,207,143,417",42,"$4,207,143,417: 42 movies"
28,Japan,"$13,834,534,445",30,"$13,834,534,445: 30 movies"
29,Jordan,"$733,735",2,"$733,735: 2 movies"
30,Kenya,"$4,069,787",1,"$4,069,787: 1 movie"
31,Lebanon,"$86,892,077",2,"$86,892,077: 2 movies"
32,Luxembourg,"$260,197,555",3,"$260,197,555: 3 movies"
33,Malaysia,"$52,403,694",1,"$52,403,694: 1 movie"
34,Malta,"$500,098,538",1,"$500,098,538: 1 movie"
35,Mexico,"$1,759,685,440",17,"$1,759,685,440: 17 movies"
36,Monaco,"$5,739,161",1,"$5,739,161: 1 movie"
37,Morocco,"$228,291,035",5,"$228,291,035: 5 movies"
38,Netherlands,"$1,185,384,398",10,"$1,185,384,398: 10 movies"
39,New Zealand,"$7,335,644,063",3,"$7,335,644,063: 3 movies"
40,Norway,"$202,319,519",8,"$202,319,519: 8 movies"
41,Poland,"$574,561,700",7,"$574,561,700: 7 movies"
42,Portugal,"$57,101,517",9,"$57,101,517: 9 movies"
43,Qatar,"$10,846,324",3,"$10,846,324: 3 movies"
44,Romania,"$209,950,291",7,"$209,950,291: 7 movies"
45,South Africa,"$607,395,235",7,"$607,395,235: 7 movies"
46,Spain,"$3,982,588,563",24,"$3,982,588,563: 24 movies"
47,Sweden,"$1,180,313,346",12,"$1,180,313,346: 12 movies"
48,Switzerland,"$684,542,925",14,"$684,542,925: 14 movies"
49,Thailand,"$220,385,001",4,"$220,385,001: 4 movies"
50,Tunisia,"$249,001,066",2,"$249,001,066: 2 movies"
51,Turkey,"$940,884,579",8,"$940,884,579: 8 movies"
52,UAE,"$539,140,197",3,"$539,140,197: 3 movies"
53,UK,"$51,441,171,506",108,"$51,441,171,506: 108 movies"
54,US,"$582,316,176,592",277,"$582,316,176,592: 277 movies"

In [4]:
article = df1.groupby('Country')['string'].apply(lambda x: "<div id='Total Worldwide Box Office'><P>%s</P></div>" % '</p><p> '.join(x)).reset_index(name='properties.article')
article

                   Country                                 properties.article
0                  Algeria  <div id='Total Worldwide Box Office'><P>$45,10...
1                Argentina  <div id='Total Worldwide Box Office'><P>$589,4...
2                Australia  <div id='Total Worldwide Box Office'><P>$7,464...
3                  Austria  <div id='Total Worldwide Box Office'><P>$306,1...
4                  Bahamas  <div id='Total Worldwide Box Office'><P>$56,20...
5                  Belgium  <div id='Total Worldwide Box Office'><P>$2,169...
6   Bosnia and Herzegovina  <div id='Total Worldwide Box Office'><P>$12,71...
7                   Brazil  <div id='Total Worldwide Box Office'><P>$1,108...
8                 Bulgaria  <div id='Total Worldwide Box Office'><P>$42,68...
9                   Canada  <div id='Total Worldwide Box Office'><P>$7,809...
10                   Chile  <div id='Total Worldwide Box Office'><P>$180,8...
11                   China  <div id='Total Worldwide Box Office'><P>$32,08...
12                Colombia  <div id='Total Worldwide Box Office'><P>$25,98...
13          Czech Republic  <div id='Total Worldwide Box Office'><P>$644,0...
14                 Denmark  <div id='Total Worldwide Box Office'><P>$754,4...
15                   Egypt  <div id='Total Worldwide Box Office'><P>$7,078...
16                 Finland  <div id='Total Worldwide Box Office'><P>$635,3...
17                  France  <div id='Total Worldwide Box Office'><P>$20,23...
18                 Germany  <div id='Total Worldwide Box Office'><P>$10,25...
19                  Greece  <div id='Total Worldwide Box Office'><P>$72,55...
20               Hong Kong  <div id='Total Worldwide Box Office'><P>$6,537...
21                 Hungary  <div id='Total Worldwide Box Office'><P>$517,3...
22                 Iceland  <div id='Total Worldwide Box Office'><P>$93,19...
23                   India  <div id='Total Worldwide Box Office'><P>$7,352...
24               Indonesia  <div id='Total Worldwide Box Office'><P>$16,58...
25                 Ireland  <div id='Total Worldwide Box Office'><P>$1,238...
26                  Israel  <div id='Total Worldwide Box Office'><P>$124,8...
27                   Italy  <div id='Total Worldwide Box Office'><P>$4,207...
28                   Japan  <div id='Total Worldwide Box Office'><P>$13,83...
29                  Jordan  <div id='Total Worldwide Box Office'><P>$733,7...
30                   Kenya  <div id='Total Worldwide Box Office'><P>$4,069...
31                 Lebanon  <div id='Total Worldwide Box Office'><P>$86,89...
32              Luxembourg  <div id='Total Worldwide Box Office'><P>$260,1...
33                Malaysia  <div id='Total Worldwide Box Office'><P>$52,40...
34                   Malta  <div id='Total Worldwide Box Office'><P>$500,0...
35                  Mexico  <div id='Total Worldwide Box Office'><P>$1,759...
36                  Monaco  <div id='Total Worldwide Box Office'><P>$5,739...
37                 Morocco  <div id='Total Worldwide Box Office'><P>$228,2...
38             Netherlands  <div id='Total Worldwide Box Office'><P>$1,185...
39             New Zealand  <div id='Total Worldwide Box Office'><P>$7,335...
40                  Norway  <div id='Total Worldwide Box Office'><P>$202,3...
41                  Poland  <div id='Total Worldwide Box Office'><P>$574,5...
42                Portugal  <div id='Total Worldwide Box Office'><P>$57,10...
43                   Qatar  <div id='Total Worldwide Box Office'><P>$10,84...
44                 Romania  <div id='Total Worldwide Box Office'><P>$209,9...
45            South Africa  <div id='Total Worldwide Box Office'><P>$607,3...
46                   Spain  <div id='Total Worldwide Box Office'><P>$3,982...
47                  Sweden  <div id='Total Worldwide Box Office'><P>$1,180...
48             Switzerland  <div id='Total Worldwide Box Office'><P>$684,5...
49                Thailand  <div id='Total Worldwide Box Office'><P>$220,3...
50                 Tunisia  <div id='Total Worldwide Box Office'><P>$249,0...
51                  Turkey  <div id='Total Worldwide Box Office'><P>$940,8...
52                     UAE  <div id='Total Worldwide Box Office'><P>$539,1...
53                      UK  <div id='Total Worldwide Box Office'><P>$51,44...
54                      US  <div id='Total Worldwide Box Office'><P>$582,3...

In [5]:
headline = df_movie_by_country["Country"].value_counts().reset_index(name='properties.headline')
headline = headline.rename(columns={'index': 'Country'})

In [6]:
output = article.merge(headline, how='left', on='Country')
output

,Country,properties.article,properties.headline
0,Algeria,"<div id='Total Worldwide Box Office'><P>$45,10...",1
1,Argentina,"<div id='Total Worldwide Box Office'><P>$589,4...",7
2,Australia,"<div id='Total Worldwide Box Office'><P>$7,464...",13
3,Austria,"<div id='Total Worldwide Box Office'><P>$306,1...",12
4,Bahamas,"<div id='Total Worldwide Box Office'><P>$56,20...",1
5,Belgium,"<div id='Total Worldwide Box Office'><P>$2,169...",23
6,Bosnia and Herzegovina,"<div id='Total Worldwide Box Office'><P>$12,71...",1
7,Brazil,"<div id='Total Worldwide Box Office'><P>$1,108...",6
8,Bulgaria,"<div id='Total Worldwide Box Office'><P>$42,68...",1
9,Canada,"<div id='Total Worldwide Box Office'><P>$7,809...",26
10,Chile,"<div id='Total Worldwide Box Office'><P>$180,8...",4
11,China,"<div id='Total Worldwide Box Office'><P>$32,08...",14
12,Colombia,"<div id='Total Worldwide Box Office'><P>$25,98...",1
13,Czech Republic,"<div id='Total Worldwide Box Office'><P>$644,0...",3
14,Denmark,"<div id='Total Worldwide Box Office'><P>$754,4...",17
15,Egypt,"<div id='Total Worldwide Box Office'><P>$7,078...",3
16,Finland,"<div id='Total Worldwide Box Office'><P>$635,3...",8
17,France,"<div id='Total Worldwide Box Office'><P>$20,23...",178
18,Germany,"<div id='Total Worldwide Box Office'><P>$10,25...",86
19,Greece,"<div id='Total Worldwide Box Office'><P>$72,55...",6
20,Hong Kong,"<div id='Total Worldwide Box Office'><P>$6,537...",11
21,Hungary,"<div id='Total Worldwide Box Office'><P>$517,3...",4
22,Iceland,"<div id='Total Worldwide Box Office'><P>$93,19...",1
23,India,"<div id='Total Worldwide Box Office'><P>$7,352...",15
24,Indonesia,"<div id='Total Worldwide Box Office'><P>$16,58...",1
25,Ireland,"<div id='Total Worldwide Box Office'><P>$1,238...",9
26,Israel,"<div id='Total Worldwide Box Office'><P>$124,8...",14
27,Italy,"<div id='Total Worldwide Box Office'><P>$4,207...",42
28,Japan,"<div id='Total Worldwide Box Office'><P>$13,83...",30
29,Jordan,"<div id='Total Worldwide Box Office'><P>$733,7...",2
30,Kenya,"<div id='Total Worldwide Box Office'><P>$4,069...",1
31,Lebanon,"<div id='Total Worldwide Box Office'><P>$86,89...",2
32,Luxembourg,"<div id='Total Worldwide Box Office'><P>$260,1...",3
33,Malaysia,"<div id='Total Worldwide Box Office'><P>$52,40...",1
34,Malta,"<div id='Total Worldwide Box Office'><P>$500,0...",1
35,Mexico,"<div id='Total Worldwide Box Office'><P>$1,759...",17
36,Monaco,"<div id='Total Worldwide Box Office'><P>$5,739...",1
37,Morocco,"<div id='Total Worldwide Box Office'><P>$228,2...",5
38,Netherlands,"<div id='Total Worldwide Box Office'><P>$1,185...",10
39,New Zealand,"<div id='Total Worldwide Box Office'><P>$7,335...",3
40,Norway,"<div id='Total Worldwide Box Office'><P>$202,3...",8
41,Poland,"<div id='Total Worldwide Box Office'><P>$574,5...",7
42,Portugal,"<div id='Total Worldwide Box Office'><P>$57,10...",9
43,Qatar,"<div id='Total Worldwide Box Office'><P>$10,84...",3
44,Romania,"<div id='Total Worldwide Box Office'><P>$209,9...",7
45,South Africa,"<div id='Total Worldwide Box Office'><P>$607,3...",7
46,Spain,"<div id='Total Worldwide Box Office'><P>$3,982...",24
47,Sweden,"<div id='Total Worldwide Box Office'><P>$1,180...",12
48,Switzerland,"<div id='Total Worldwide Box Office'><P>$684,5...",14
49,Thailand,"<div id='Total Worldwide Box Office'><P>$220,3...",4
50,Tunisia,"<div id='Total Worldwide Box Office'><P>$249,0...",2
51,Turkey,"<div id='Total Worldwide Box Office'><P>$940,8...",8
52,UAE,"<div id='Total Worldwide Box Office'><P>$539,1...",3
53,UK,"<div id='Total Worldwide Box Office'><P>$51,44...",108
54,US,"<div id='Total Worldwide Box Office'><P>$582,3...",277

In [7]:
output['properties.color'] = "#35476E"
output

,Country,properties.article,properties.headline,properties.color
0,Algeria,"<div id='Total Worldwide Box Office'><P>$45,10...",1,#35476E
1,Argentina,"<div id='Total Worldwide Box Office'><P>$589,4...",7,#35476E
2,Australia,"<div id='Total Worldwide Box Office'><P>$7,464...",13,#35476E
3,Austria,"<div id='Total Worldwide Box Office'><P>$306,1...",12,#35476E
4,Bahamas,"<div id='Total Worldwide Box Office'><P>$56,20...",1,#35476E
5,Belgium,"<div id='Total Worldwide Box Office'><P>$2,169...",23,#35476E
6,Bosnia and Herzegovina,"<div id='Total Worldwide Box Office'><P>$12,71...",1,#35476E
7,Brazil,"<div id='Total Worldwide Box Office'><P>$1,108...",6,#35476E
8,Bulgaria,"<div id='Total Worldwide Box Office'><P>$42,68...",1,#35476E
9,Canada,"<div id='Total Worldwide Box Office'><P>$7,809...",26,#35476E
10,Chile,"<div id='Total Worldwide Box Office'><P>$180,8...",4,#35476E
11,China,"<div id='Total Worldwide Box Office'><P>$32,08...",14,#35476E
12,Colombia,"<div id='Total Worldwide Box Office'><P>$25,98...",1,#35476E
13,Czech Republic,"<div id='Total Worldwide Box Office'><P>$644,0...",3,#35476E
14,Denmark,"<div id='Total Worldwide Box Office'><P>$754,4...",17,#35476E
15,Egypt,"<div id='Total Worldwide Box Office'><P>$7,078...",3,#35476E
16,Finland,"<div id='Total Worldwide Box Office'><P>$635,3...",8,#35476E
17,France,"<div id='Total Worldwide Box Office'><P>$20,23...",178,#35476E
18,Germany,"<div id='Total Worldwide Box Office'><P>$10,25...",86,#35476E
19,Greece,"<div id='Total Worldwide Box Office'><P>$72,55...",6,#35476E
20,Hong Kong,"<div id='Total Worldwide Box Office'><P>$6,537...",11,#35476E
21,Hungary,"<div id='Total Worldwide Box Office'><P>$517,3...",4,#35476E
22,Iceland,"<div id='Total Worldwide Box Office'><P>$93,19...",1,#35476E
23,India,"<div id='Total Worldwide Box Office'><P>$7,352...",15,#35476E
24,Indonesia,"<div id='Total Worldwide Box Office'><P>$16,58...",1,#35476E
25,Ireland,"<div id='Total Worldwide Box Office'><P>$1,238...",9,#35476E
26,Israel,"<div id='Total Worldwide Box Office'><P>$124,8...",14,#35476E
27,Italy,"<div id='Total Worldwide Box Office'><P>$4,207...",42,#35476E
28,Japan,"<div id='Total Worldwide Box Office'><P>$13,83...",30,#35476E
29,Jordan,"<div id='Total Worldwide Box Office'><P>$733,7...",2,#35476E
30,Kenya,"<div id='Total Worldwide Box Office'><P>$4,069...",1,#35476E
31,Lebanon,"<div id='Total Worldwide Box Office'><P>$86,89...",2,#35476E
32,Luxembourg,"<div id='Total Worldwide Box Office'><P>$260,1...",3,#35476E
33,Malaysia,"<div id='Total Worldwide Box Office'><P>$52,40...",1,#35476E
34,Malta,"<div id='Total Worldwide Box Office'><P>$500,0...",1,#35476E
35,Mexico,"<div id='Total Worldwide Box Office'><P>$1,759...",17,#35476E
36,Monaco,"<div id='Total Worldwide Box Office'><P>$5,739...",1,#35476E
37,Morocco,"<div id='Total Worldwide Box Office'><P>$228,2...",5,#35476E
38,Netherlands,"<div id='Total Worldwide Box Office'><P>$1,185...",10,#35476E
39,New Zealand,"<div id='Total Worldwide Box Office'><P>$7,335...",3,#35476E
40,Norway,"<div id='Total Worldwide Box Office'><P>$202,3...",8,#35476E
41,Poland,"<div id='Total Worldwide Box Office'><P>$574,5...",7,#35476E
42,Portugal,"<div id='Total Worldwide Box Office'><P>$57,10...",9,#35476E
43,Qatar,"<div id='Total Worldwide Box Office'><P>$10,84...",3,#35476E
44,Romania,"<div id='Total Worldwide Box Office'><P>$209,9...",7,#35476E
45,South Africa,"<div id='Total Worldwide Box Office'><P>$607,3...",7,#35476E
46,Spain,"<div id='Total Worldwide Box Office'><P>$3,982...",24,#35476E
47,Sweden,"<div id='Total Worldwide Box Office'><P>$1,180...",12,#35476E
48,Switzerland,"<div id='Total Worldwide Box Office'><P>$684,5...",14,#35476E
49,Thailand,"<div id='Total Worldwide Box Office'><P>$220,3...",4,#35476E
50,Tunisia,"<div id='Total Worldwide Box Office'><P>$249,0...",2,#35476E
51,Turkey,"<div id='Total Worldwide Box Office'><P>$940,8...",8,#35476E
52,UAE,"<div id='Total Worldwide Box Office'><P>$539,1...",3,#35476E
53,UK,"<div id='Total Worldwide Box Office'><P>$51,44...",108,#35476E
54,US,"<div id='Total Worldwide Box Office'><P>$582,3...",277,#35476E

In [8]:
output

,Country,properties.article,properties.headline,properties.color
0,Algeria,"<div id='Total Worldwide Box Office'><P>$45,10...",1,#35476E
1,Argentina,"<div id='Total Worldwide Box Office'><P>$589,4...",7,#35476E
2,Australia,"<div id='Total Worldwide Box Office'><P>$7,464...",13,#35476E
3,Austria,"<div id='Total Worldwide Box Office'><P>$306,1...",12,#35476E
4,Bahamas,"<div id='Total Worldwide Box Office'><P>$56,20...",1,#35476E
5,Belgium,"<div id='Total Worldwide Box Office'><P>$2,169...",23,#35476E
6,Bosnia and Herzegovina,"<div id='Total Worldwide Box Office'><P>$12,71...",1,#35476E
7,Brazil,"<div id='Total Worldwide Box Office'><P>$1,108...",6,#35476E
8,Bulgaria,"<div id='Total Worldwide Box Office'><P>$42,68...",1,#35476E
9,Canada,"<div id='Total Worldwide Box Office'><P>$7,809...",26,#35476E
10,Chile,"<div id='Total Worldwide Box Office'><P>$180,8...",4,#35476E
11,China,"<div id='Total Worldwide Box Office'><P>$32,08...",14,#35476E
12,Colombia,"<div id='Total Worldwide Box Office'><P>$25,98...",1,#35476E
13,Czech Republic,"<div id='Total Worldwide Box Office'><P>$644,0...",3,#35476E
14,Denmark,"<div id='Total Worldwide Box Office'><P>$754,4...",17,#35476E
15,Egypt,"<div id='Total Worldwide Box Office'><P>$7,078...",3,#35476E
16,Finland,"<div id='Total Worldwide Box Office'><P>$635,3...",8,#35476E
17,France,"<div id='Total Worldwide Box Office'><P>$20,23...",178,#35476E
18,Germany,"<div id='Total Worldwide Box Office'><P>$10,25...",86,#35476E
19,Greece,"<div id='Total Worldwide Box Office'><P>$72,55...",6,#35476E
20,Hong Kong,"<div id='Total Worldwide Box Office'><P>$6,537...",11,#35476E
21,Hungary,"<div id='Total Worldwide Box Office'><P>$517,3...",4,#35476E
22,Iceland,"<div id='Total Worldwide Box Office'><P>$93,19...",1,#35476E
23,India,"<div id='Total Worldwide Box Office'><P>$7,352...",15,#35476E
24,Indonesia,"<div id='Total Worldwide Box Office'><P>$16,58...",1,#35476E
25,Ireland,"<div id='Total Worldwide Box Office'><P>$1,238...",9,#35476E
26,Israel,"<div id='Total Worldwide Box Office'><P>$124,8...",14,#35476E
27,Italy,"<div id='Total Worldwide Box Office'><P>$4,207...",42,#35476E
28,Japan,"<div id='Total Worldwide Box Office'><P>$13,83...",30,#35476E
29,Jordan,"<div id='Total Worldwide Box Office'><P>$733,7...",2,#35476E
30,Kenya,"<div id='Total Worldwide Box Office'><P>$4,069...",1,#35476E
31,Lebanon,"<div id='Total Worldwide Box Office'><P>$86,89...",2,#35476E
32,Luxembourg,"<div id='Total Worldwide Box Office'><P>$260,1...",3,#35476E
33,Malaysia,"<div id='Total Worldwide Box Office'><P>$52,40...",1,#35476E
34,Malta,"<div id='Total Worldwide Box Office'><P>$500,0...",1,#35476E
35,Mexico,"<div id='Total Worldwide Box Office'><P>$1,759...",17,#35476E
36,Monaco,"<div id='Total Worldwide Box Office'><P>$5,739...",1,#35476E
37,Morocco,"<div id='Total Worldwide Box Office'><P>$228,2...",5,#35476E
38,Netherlands,"<div id='Total Worldwide Box Office'><P>$1,185...",10,#35476E
39,New Zealand,"<div id='Total Worldwide Box Office'><P>$7,335...",3,#35476E
40,Norway,"<div id='Total Worldwide Box Office'><P>$202,3...",8,#35476E
41,Poland,"<div id='Total Worldwide Box Office'><P>$574,5...",7,#35476E
42,Portugal,"<div id='Total Worldwide Box Office'><P>$57,10...",9,#35476E
43,Qatar,"<div id='Total Worldwide Box Office'><P>$10,84...",3,#35476E
44,Romania,"<div id='Total Worldwide Box Office'><P>$209,9...",7,#35476E
45,South Africa,"<div id='Total Worldwide Box Office'><P>$607,3...",7,#35476E
46,Spain,"<div id='Total Worldwide Box Office'><P>$3,982...",24,#35476E
47,Sweden,"<div id='Total Worldwide Box Office'><P>$1,180...",12,#35476E
48,Switzerland,"<div id='Total Worldwide Box Office'><P>$684,5...",14,#35476E
49,Thailand,"<div id='Total Worldwide Box Office'><P>$220,3...",4,#35476E
50,Tunisia,"<div id='Total Worldwide Box Office'><P>$249,0...",2,#35476E
51,Turkey,"<div id='Total Worldwide Box Office'><P>$940,8...",8,#35476E
52,UAE,"<div id='Total Worldwide Box Office'><P>$539,1...",3,#35476E
53,UK,"<div id='Total Worldwide Box Office'><P>$51,44...",108,#35476E
54,US,"<div id='Total Worldwide Box Office'><P>$582,3...",277,#35476E

In [9]:
output.to_csv('output')

In [12]:
output

,Country,properties.article,properties.headline,properties.color
0,Algeria,"<div id='Total Worldwide Box Office'><P>$45,10...",1,#35476E
1,Argentina,"<div id='Total Worldwide Box Office'><P>$589,4...",7,#35476E
2,Australia,"<div id='Total Worldwide Box Office'><P>$7,464...",13,#35476E
3,Austria,"<div id='Total Worldwide Box Office'><P>$306,1...",12,#35476E
4,Bahamas,"<div id='Total Worldwide Box Office'><P>$56,20...",1,#35476E
5,Belgium,"<div id='Total Worldwide Box Office'><P>$2,169...",23,#35476E
6,Bosnia and Herzegovina,"<div id='Total Worldwide Box Office'><P>$12,71...",1,#35476E
7,Brazil,"<div id='Total Worldwide Box Office'><P>$1,108...",6,#35476E
8,Bulgaria,"<div id='Total Worldwide Box Office'><P>$42,68...",1,#35476E
9,Canada,"<div id='Total Worldwide Box Office'><P>$7,809...",26,#35476E
10,Chile,"<div id='Total Worldwide Box Office'><P>$180,8...",4,#35476E
11,China,"<div id='Total Worldwide Box Office'><P>$32,08...",14,#35476E
12,Colombia,"<div id='Total Worldwide Box Office'><P>$25,98...",1,#35476E
13,Czech Republic,"<div id='Total Worldwide Box Office'><P>$644,0...",3,#35476E
14,Denmark,"<div id='Total Worldwide Box Office'><P>$754,4...",17,#35476E
15,Egypt,"<div id='Total Worldwide Box Office'><P>$7,078...",3,#35476E
16,Finland,"<div id='Total Worldwide Box Office'><P>$635,3...",8,#35476E
17,France,"<div id='Total Worldwide Box Office'><P>$20,23...",178,#35476E
18,Germany,"<div id='Total Worldwide Box Office'><P>$10,25...",86,#35476E
19,Greece,"<div id='Total Worldwide Box Office'><P>$72,55...",6,#35476E
20,Hong Kong,"<div id='Total Worldwide Box Office'><P>$6,537...",11,#35476E
21,Hungary,"<div id='Total Worldwide Box Office'><P>$517,3...",4,#35476E
22,Iceland,"<div id='Total Worldwide Box Office'><P>$93,19...",1,#35476E
23,India,"<div id='Total Worldwide Box Office'><P>$7,352...",15,#35476E
24,Indonesia,"<div id='Total Worldwide Box Office'><P>$16,58...",1,#35476E
25,Ireland,"<div id='Total Worldwide Box Office'><P>$1,238...",9,#35476E
26,Israel,"<div id='Total Worldwide Box Office'><P>$124,8...",14,#35476E
27,Italy,"<div id='Total Worldwide Box Office'><P>$4,207...",42,#35476E
28,Japan,"<div id='Total Worldwide Box Office'><P>$13,83...",30,#35476E
29,Jordan,"<div id='Total Worldwide Box Office'><P>$733,7...",2,#35476E
30,Kenya,"<div id='Total Worldwide Box Office'><P>$4,069...",1,#35476E
31,Lebanon,"<div id='Total Worldwide Box Office'><P>$86,89...",2,#35476E
32,Luxembourg,"<div id='Total Worldwide Box Office'><P>$260,1...",3,#35476E
33,Malaysia,"<div id='Total Worldwide Box Office'><P>$52,40...",1,#35476E
34,Malta,"<div id='Total Worldwide Box Office'><P>$500,0...",1,#35476E
35,Mexico,"<div id='Total Worldwide Box Office'><P>$1,759...",17,#35476E
36,Monaco,"<div id='Total Worldwide Box Office'><P>$5,739...",1,#35476E
37,Morocco,"<div id='Total Worldwide Box Office'><P>$228,2...",5,#35476E
38,Netherlands,"<div id='Total Worldwide Box Office'><P>$1,185...",10,#35476E
39,New Zealand,"<div id='Total Worldwide Box Office'><P>$7,335...",3,#35476E
40,Norway,"<div id='Total Worldwide Box Office'><P>$202,3...",8,#35476E
41,Poland,"<div id='Total Worldwide Box Office'><P>$574,5...",7,#35476E
42,Portugal,"<div id='Total Worldwide Box Office'><P>$57,10...",9,#35476E
43,Qatar,"<div id='Total Worldwide Box Office'><P>$10,84...",3,#35476E
44,Romania,"<div id='Total Worldwide Box Office'><P>$209,9...",7,#35476E
45,South Africa,"<div id='Total Worldwide Box Office'><P>$607,3...",7,#35476E
46,Spain,"<div id='Total Worldwide Box Office'><P>$3,982...",24,#35476E
47,Sweden,"<div id='Total Worldwide Box Office'><P>$1,180...",12,#35476E
48,Switzerland,"<div id='Total Worldwide Box Office'><P>$684,5...",14,#35476E
49,Thailand,"<div id='Total Worldwide Box Office'><P>$220,3...",4,#35476E
50,Tunisia,"<div id='Total Worldwide Box Office'><P>$249,0...",2,#35476E
51,Turkey,"<div id='Total Worldwide Box Office'><P>$940,8...",8,#35476E
52,UAE,"<div id='Total Worldwide Box Office'><P>$539,1...",3,#35476E
53,UK,"<div id='Total Worldwide Box Office'><P>$51,44...",108,#35476E
54,US,"<div id='Total Worldwide Box Office'><P>$582,3...",277,#35476E

In [23]:
pd.set_option('display.max_colwidth', 200)

output[output['']=='Canada']['properties.article']

9    <div id='Total Worldwide Box Office'><P>$7,809,888,226: 26 movies</P></div>
Name: properties.article, dtype: object